.container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;

}

.loginform {
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px;
}
.loginform div {
    display: flex;
    justify-content: center;
    padding: 5px;
}
.loginform div *{
    margin: 2px;
}


.button {
    padding: 10px;
    background-color: #2fd7f3;
    font-weight: 600;
    border: 0;
    box-shadow: 3px 2px 3px lightblue;
}
  
.button:focus, .button:hover, .button:active {
    outline: none;
    box-shadow: 1px 1px lightblue;
}

.moviesList {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movieTile {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    width: 25%;
}

.movieTile p {
    text-align: left;
}

.movieForm {
    padding: 10px
}
.movieForm div {
    display: flex;
    justify-content: left;
    padding: 5px;
    text-align: left;
}

.movieForm div *{
    margin: 2px;
}


/* media queries *** */


