
body{
    margin-top: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.header{
    background: #0d1c84;
    color: white;
    padding: 15px;
    margin-bottom: 15px;
}

.header div {
    display: inline-block;
    width: 50%;
}

.header div:first-child {
    text-align: left;
}
.header div:last-child {
    text-align: right;
}

.header div:last-child a {
    color: white;
    text-decoration: none;
}
.header div:last-child a:hover, .header div:last-child a.active {
    text-decoration: underline;
}

.main-content {
    padding: 20px;
}

.radioholder {
    display: inline-block !important;
    margin: 10px;
}

.loginform {
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px;
    width: 400px;
    box-sizing: border-box;
}

.loginform div {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.loginform div *{
    margin: 2px;
}


.button {
    padding: 10px;
    background-color: #2fd7f3;
    font-weight: 600;
    border: 0;
    box-shadow: 3px 2px 3px lightblue;
}
  
.button:focus, .button:hover, .button:active {
    outline: none;
    box-shadow: 1px 1px lightblue;
}

.button:hover{
    cursor: pointer;
}

.movieTile, .feedback {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
}

.movieTile p {
    text-align: left;
}

.feedback input[type="radio"] {
    margin-right: 3px;
}

.feedback textarea{
    margin-left: 10px;
    vertical-align: top;
    min-width: 250px;
    min-height: 100px;
}

.feedback div {
    margin-bottom: 10px !important;
}

.movieForm {
    padding: 10px
}
.movieForm div {
    display: flex;
    justify-content: left;
    padding: 5px;
    text-align: left;
}

.movieForm div *{
    margin: 2px;
}

.moviesTable {
    margin: 0 auto;
}

.moviesTable, .moviesTable td, .moviesTable th{
    border: 1px solid black;
    border-spacing: 0;

}
.moviesTable td, .moviesTable th {
    padding: 7px;
}

/* media queries *** */


@media screen and (max-width: 576px) {
    .container {
        max-width: 100vw;
    }
    .loginform {
        padding: 7px !important;
        width: 100%;
    }
    .loginform input{
        flex-grow: 1;
    }
    .button{
        padding: 6px;
    }

    .moviesList {
        width: 100%;
        overflow: scroll;
    }

    .moviesTable td, .moviesTable th {
        padding: 3px;
    }
    
}



@media screen and (min-width: 577px) and (max-width: 992px) {
    .container{
        max-width: 100vw;
    }
    
}





